.feynman__link {
  color: #2f80ed;
  font-size: 36px;
  line-height: 51px;
  opacity: 1;
  position: absolute;
  right: 48px;
  text-decoration: none;
  top: 50%;
  transition: opacity .2s;
}

.feynman__link:hover {
  opacity: .7;
}
