.resources__logo {
  height: 38px;
  object-fit: contain;
  object-position: center center;
  opacity: 1;
  transition: opacity .2s;
  vertical-align: bottom;
  width: 270px;
}

.resources__logo:hover {
  opacity: .7;
}
